<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.guanli.mapper.EmpMapper">
<!-- 统计各个职位的员工人数 -->
<select id="countEmpJobData" resultType="java.util.Map">
    select
    (case job when 1 then '班主任'
    when 2 then '讲师'
    when 3 then '学工主管'
    when 4 then '教研主管'
    when 5 then '咨询师'
    else '其他' end)  pos,
    count(*) total
    from emp group by job
    order by total
</select>
</mapper>